<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Technically experienced, professional and innovative Senior QA Engineer offering 5+ years of broad experience delivering major test solutions for global programs and projects focusing on quality assurance, test management, application integration and release management of Client/Server, Mobile and Web-based applications. Solid expertise in all phases of Software Testing Life Cycle (STLC), including test planning, test execution, defect management, and test reporting within a Waterfall and Agile SDLC. 
      Looking for new challenges with a highly competitive and reputed organisation where my experience, skills, potential and education can be put to use in enhancing teamwork, with an emphasis on Software Quality Assurance and Testing.
    </p>

    <p>
      As a Software Quality Advocate, I like to think out of the box when I’m testing and focus on our customers experience and expectations. I look beyond the available requirements. I want to think about how customers would use our products and what the competition is doing to add valuable feedback to our product team.
       &mdash; I think my experience will help other testers and developers evolve and build a great team and culture.
      I also strive to have a great work ethic where honest feedback is a necessity and go the extra mile to achieve successful project deliveries.      
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably listening to music, playing the keyboard,
      or playing football.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
