<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Test Engineer and Data Analyst at
      <a class="underline-link" href="https://www.idscorpgh.com/" target="_blank">InfoView Data Solution</a> testing and automating software solutions, analyzing and modelling data. A graduate of
      <a class="underline-link" href="http://www.smude.edu.in/" target="_blank">Sikkim Manipal University</a> with a Bachelor degree in Information Technology.
    </p>

    <p>
      As a software test engineer and data analyst, I collect data through means such as analyzing business results or by setting up and managing new studies, transfer data into a new format to make it more appropriate for analysis
      create new, experimental frameworks to collect data, build tools to automate data collection, search through large data sets for usable information, create reports and presentations for business uses,
      correlate similar data to find actionable results &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful dashboard stories for more and effectual analysis and understanding. 
      My goal is to always build systems and models that are scalable and efficient while providing interactive user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably listening to music, playing the keyboard,
      or playing football.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
