<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Experienced and Professional Software QA Engineer who last worked at
      <a class="underline-link" href="https://www.idscorpgh.com/" target="_blank">InfoView Data Solution,</a> testing and automating software solutions, ensure quality end product delivery and deployment. A graduate of
      <a class="underline-link" href="http://www.smude.edu.in/" target="_blank">Sikkim Manipal University</a> with a Bachelor degree in Information Technology.
    </p>

    <p>
      As a Software QA Engineer, I like to think out of the box when I’m testing and focus on our customers experience and expectations. I don’t look only at the available requirements. I want to think about how customers would use our products and what the competition is doing to add valuable feedback to our product team.
       &mdash; I think my experience will help other testers evolve and build a great team and culture.
      I also strive to have a great work ethic where honest feedback is a necessity and I’ll go the extra mile to achieve successful project deliveries.      
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably listening to music, playing the keyboard,
      or playing football.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
