<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/Sylvestre5/Superstore_Analysis" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/dashboard_screenshot.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Sylvestre5/Superstore_Analysis" target="_blank">Superstore Dashboard</a>
        </div>
        <p>Dashboard Story for Superstore; a store in the USA, using Microsoft Excel to make Analysis with the dataset. 
          </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://github.com/Sylvestre5/Advance-week-EPL-Teams" target="_blank">
            <img src="{{site.baseurl}}/img/featured/screentime/manunited.PNG" alt=""> 
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Sylvestre5/Advance-week-EPL-Teams" target="_blank">EPL Football Team Analysis</a>
        </div>
        <p>Analysis of three clubs Manchester United, Manchester City and Chelsea in the English Premiere League from the year 2017 to 2019.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/Sylvestre5/Astralia_Fashion_Sale" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/Astralia_Dashboard.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Sylvestre5/Astralia_Fashion_Sale" target="_blank">Astralia Fashion Sales Analysis</a>
        </div>
        <p>Astralia is a fashion sale store whose dataset has been analyzed to best represent their yearly sales in the past 3 years.</p>
      </figcaption>
    </div>
  </div>
</section>
